<cn-record-view model="model"></cn-record-view>
<div class="row vertical-spacer">
  <div class="col-sm-6">
    <div class="record-view rounded" ng-if="model.viewModel.currentAnalysis">
      <div class="container-fluid bg-primary rounded-top">
        <h4>
          Analysis Details
          <span ng-if="!model.viewModel.analysisModel.getEditEnabled()">(read only)</span>
          <span ng-if="model.viewModel.isLoading">(Loading&hellip;)</span>
        </h4>
      </div>
      <fieldset ng-disabled="
        !model.viewModel.analysisModel.getEditEnabled() ||
        model.viewModel.analysisModel.viewModel.isLoading
      ">
        <div class="vertical-spacer">
          <cn-analysis-view model="model.viewModel.analysisModel"></cn-analysis-view>
        </div>
        <form
          name="form"
          class="form-horizontal"
          ng-if="
            0 < model.viewModel.currentAnalysis.codeGroupList.length ||
            0 < model.viewModel.currentAnalysis.selectionList.length
          "
          novalidate
        >
          <div ng-if="0 < model.viewModel.currentAnalysis.selectionList.length">
            <div ng-if="0 < model.viewModel.currentAnalysis.selectionList.length" class="container-fluid bg-info">
              <label class="control-label" style="padding: 4px 0px;">Selections</label>
            </div>
            <div class="container-fluid" style="padding-top: 0.5em;">
              <div class="form-group" ng-repeat="selection in model.viewModel.currentAnalysis.selectionList">
                <label
                  class="control-label col-sm-4"
                  ng-bind-html="selection.name"
                  uib-tooltip-html="selection.description"
                ></label>
                <div class="col-sm-8">
                  <select
                    ng-attr-id="selection_{{ selection.id }}"
                    class="form-control"
                    ng-model="selection.selection_option_id"
                    ng-options="item.id as item.name for item in selection.option_list"
                    ng-change="model.viewModel.selectionChanged(selection)"
                    ng-disabled="!model.viewModel.isTypist() || selection.working"
                  ></select>
                </div>
              </div>
            </div>
          </div>
          <div ng-repeat="group in model.viewModel.currentAnalysis.codeGroupList">
            <div class="container-fluid bg-info" uib-tooltip-html="model.viewModel.getCodeDescription(group)">
              <label class="control-label" style="padding: 4px 0px;" ng-bind-html="group.name"></label>
            </div>
            <div class="container-fluid" style="padding-top: 0.5em;">
              <div
                style="
                  position: relative;
                  min-height: 1px;
                  padding: 0 5px 5px;
                  float: left;
                  width: 20%;
                "
                ng-repeat="code in group.code_list"
              >
                <button
                  class="btn full-width"
                  ng-class="code.selected ? 'btn-success' : 'btn-default'"
                  ng-click="model.viewModel.toggleCode(code)"
                  ng-disabled="!model.viewModel.isTypist() || code.working"
                  uib-tooltip-html="model.viewModel.getCodeDescription(code)"
                >{{ code.name }}</button>
              </div>
            </div>
          </div>
          <div class="form-footer text-right rounded-bottom bg-info">
          </div>
        </form>
      </div>
    </fieldset>
  </div>
  <div class="col-sm-6" style="padding-left: 0px;">
    <cn-image-display model="model.viewModel.imageDisplayModel"></cn-image-display>
  </div>
</div>
