<div class="row">
  <div class="col-sm-6">
    <cn-record-view model="model"></cn-record-view>
    <div
      class="vertical-spacer"
      ng-if="0 < model.viewModel.currentAnalysis.codeGroupList.length"
    >
      <div class="record-view rounded">
        <div class="container-fluid bg-primary rounded-top">
          <h4>
            Image Rating{{
              null == model.viewModel.currentAnalysis.rating ?
              "" :
              " (" + model.viewModel.currentAnalysis.rating + ")"
            }}
            <span ng-if="!model.getEditEnabled() || !model.viewModel.isTypist()">(read only)</span>
            <span ng-if="model.viewModel.isLoading">(Loading&hellip;)</span>
          </h4>
        </div>
        <form name="form" class="form-horizontal" novalidate>
          <div ng-repeat="group in model.viewModel.currentAnalysis.codeGroupList">
            <div class="container-fluid bg-info" uib-tooltip-html="model.viewModel.getCodeDescription(group)">
              <label class="control-label" ng-bind-html="group.name"></label>
            </div>
            <div class="container-fluid vertical-spacer">
              <div
                style="
                  position: relative;
                  min-height: 1px;
                  padding-right: 5px;
                  padding-left: 5px;
                  float: left;
                  width: 20%;
                "
                ng-repeat="code in group.code_list"
              >
                <button
                  class="btn full-width"
                  ng-class="code.selected ? 'btn-success' : 'btn-default'"
                  ng-click="model.viewModel.toggleCode(code)"
                  ng-disabled="!model.viewModel.isTypist() || code.working"
                  uib-tooltip-html="model.viewModel.getCodeDescription(code)"
                >{{ code.name }}</button>
              </div>
            </div>
          </div>
          <div class="form-footer text-right rounded-bottom bg-info">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6" style="padding-left: 0px">
    <div class="record-view rounded">
      <div class="container-fluid bg-primary rounded-top">
        <h4>
          <div class="pull-right">
            <i
              class="glyphicon glyphicon-chevron-left glyph-hover btn-primary btn-header"
              ng-style="{'color':
                null == model.viewModel.currentAnalysis ||
                0 == model.viewModel.currentAnalysis.index ?
                '#aaa' : '#fff'
              }"
              ng-disabled="
                null == model.viewModel.currentAnalysis ||
                0 == model.viewModel.currentAnalysis.index
              "
              ng-click="model.viewModel.prevAnalysis()"
            ></i>
            <i
              class="glyphicon glyphicon-chevron-right glyph-hover btn-primary btn-header"
              ng-style="{'color':
                null == model.viewModel.currentAnalysis ||
                model.viewModel.analysisList.length == model.viewModel.currentAnalysis.index+1 ?
                '#aaa' : '#fff'
              }"
              ng-disabled="
                null == model.viewModel.currentAnalysis ||
                model.viewModel.analysisList.length == model.viewModel.currentAnalysis.index+1
              "
              ng-click="model.viewModel.nextAnalysis()"
            ></i>
          </div>
          {{ model.viewModel.currentAnalysis.filename }}&nbsp;
        </h4>
      </div>
      <div style="height: 85vh; padding-left: 0">
        <canvas id="canvas" class="image" style="height:100%; width:100%;"></canvas>
      </div>
    </div>
  </div>
</div>
