<?php
/**
 * settings.local.ini.php
 * 
 * Defines local initialization settings for alder, overriding default settings found in
 * settings.ini.php
 */

global $SETTINGS;

// the location of the application's internal path
$SETTINGS['path']['APPLICATION'] = __DIR__;

// the file path to the framework and application
$SETTINGS['path']['CENOZO'] = '/path/to/cenozo';

// the path to the log file
$SETTINGS['path']['LOG_FILE'] = '/path/to/log';

// database settings (the driver, server and prefixes are set in the framework's settings)
$SETTINGS['db']['username'] = 'put your database username here';
$SETTINGS['db']['password'] = 'put your database password here';

// the directory where sound files are located
$SETTINGS['path']['IMAGES'] = '/path/to/images';
$SETTINGS['url']['IMAGES'] = 'images';

// the directory where supplementary images are located
$SETTINGS['path']['SUPPLEMENTARY'] = '/path/to/supplementary_images';

// the password used when connecting to all Apex databases
$SETTINGS['apex']['db_password'] = 'put your apex mssql password here';
