<div class="record-view rounded">
  <div class="container-fluid bg-primary rounded-top">
    <h4>
      Upload images to Apex for {{ model.parentModel.viewModel.record.uid }}
      <span ng-if="model.isLoading">(Loading&hellip;)</span>
    </h4>
  </div>
  <form name="form" class="form-horizontal" novalidate>
    <fieldset ng-disabled="model.isLoading || model.uploadingFiles">
      <div class="form-body" style="padding-bottom: 1em;">
        <div class="container-fluid">
          <label for="hostId" class="control-label">Apex Workstation</label>
          <div class="input-group">
            <div class="row">
              <div class="col-sm-10">
                <select
                  id="hostId"
                  ng-model="model.hostId"
                  ng-change="model.onHostChange()"
                  ng-options="item.value as item.name for item in model.hostList"
                  class="form-control"
                ></select>
              </div>
              <div class="btn-group col-sm-2">
                <button
                  type="button"
                  class="btn btn-primary full-width"
                  ng-click="model.checkHostStatus()"
                  ng-disabled="model.checkingHostStatus"
                >
                  Check Status
                </button>
              </div>
            </div>
          </div>
          <div class="vertical-spacer">
            <div ng-show="model.checkingHostStatus">Checking status...</div>
            <ul ng-if="null != model.hostStatus">
              <li ng-repeat="(key, value) in model.hostStatus">
                {{ key }}:
                <span ng-class="{ 'text-success': value, 'text-danger': !value }">
                  {{ null == value ? "failed" : value ? "online" : "offline" }}
                  <i class="glyphicon" ng-class="{ 'glyphicon-ok': value, 'glyphicon-remove': !value }"></i>
                </span>
              </li>
            </ul>
          </div>
          <div ng-show="null != model.hostStatus">
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>File Selection for Upload</h4>
                </div>
                <div class="panel-body">
                  <div class="container-fluid">
                    <div class="input-group text-danger" ng-show="
                      !model.hostStatus['DICOM In'] ||
                      !model.hostStatus['DICOM Apex'] ||
                      !model.hostStatus['QDR'] ||
                      null == model.analysisFile
                    ">
                      <h4>Please Note:</h4>
                      <div class="container-fluid" ng-show="
                        !model.hostStatus['DICOM In'] ||
                        !model.hostStatus['DICOM Apex'] ||
                        !model.hostStatus['QDR']
                      ">
                        Before images can be sent to the selected Apex workstation,
                        DICOM In, DICOM Apex and QDR must all be online.<br />
                        Please check the Apex workstation and try again once all software is running.
                      </div>
                      <div class="container-fluid" ng-show="null == model.analysisFile">
                        The file associated with the image you wish to upload could not be found.<br />
                        Please report this error to technical support.
                      </div>
                    </div>
                    <div ng-show="
                      model.hostStatus['DICOM In'] &&
                      model.hostStatus['DICOM Apex'] &&
                      model.hostStatus['QDR'] &&
                      null != model.analysisFile
                    ">
                      <div class="form-group">
                        <label for="hostId" class="control-label">Image for Re-Analysis</label>
                        <input readonly ng-model="model.analysisFile.name" class="form-control"></input>
                      </div>
                      <div ng-show="0 < model.fileList.length" class="form-group">
                        <label for="hostId" class="control-label">
                          Select associated images to include in the upload: (hold CTRL key to select multiple images)
                        </label>
                        <div class="input-group">
                          <select
                            id="selectedFileList"
                            ng-model="model.selectedFileList"
                            ng-options="item.value as item.name for item in model.fileList"
                            class="form-control"
                            multiple
                          ></select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-footer text-right">
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary" ng-click="model.deleteFiles()">
                      <span ng-if="model.deletingFiles">
                        Deleting Images...
                      </span>
                      <span ng-if="!model.deletingFiles">
                        <i class="glyphicon glyphicon-cloud-upload"></i>
                       Delete all Images
                      </span>
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary"
                      ng-click="model.uploadFiles()"
                      ng-show="
                        model.hostStatus['DICOM In'] &&
                        model.hostStatus['DICOM Apex'] &&
                        model.hostStatus['QDR'] &&
                        null != model.analysisFile
                      "
                    >
                      <span ng-if="model.uploadingFiles">
                        Uploading Image{{ model.selectedFileList.length ? "s" : "" }}...
                      </span>
                      <span ng-if="!model.uploadingFiles">
                        <i class="glyphicon glyphicon-cloud-upload"></i>
                        Upload Image{{ model.selectedFileList.length ? "s" : "" }}
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-footer text-right rounded-buttom bg-info">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" ng-click="viewParent()">View Apex Review</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
