<div class="record-view rounded">
  <div class="container-fluid bg-primary rounded-top">
    <h4>
      Apex Workstation Image Upload for {{ model.parentModel.viewModel.record.uid }}
      <span ng-if="model.isLoading">(Loading&hellip;)</span>
    </h4>
  </div>
  <form name="form" class="form-horizontal" novalidate>
    <fieldset ng-disabled="model.isLoading || model.uploadingImages || model.deletingImages">
      <div class="form-body" style="padding-bottom: 1em;">
        <div class="container-fluid">
          <label for="hostId" class="control-label">Apex Workstation</label>
          <div class="input-group">
            <div class="row">
              <div class="col-sm-10">
                <select
                  id="hostId"
                  ng-model="model.hostId"
                  ng-change="model.onHostChange()"
                  ng-options="item.value as item.name for item in model.hostList"
                  class="form-control"
                ></select>
              </div>
              <div class="btn-group col-sm-2">
                <button
                  type="button"
                  class="btn btn-primary full-width"
                  ng-click="model.checkHostStatus()"
                  ng-disabled="model.checkingHostStatus"
                >
                  Check Status
                </button>
              </div>
            </div>
          </div>
          <div class="vertical-spacer">
            <div ng-show="model.checkingHostStatus">Checking status...</div>
            <div ng-if="null != model.hostStatus">
              <ul>
                <li ng-repeat="(key, value) in model.hostStatus">
                  {{ key }}:
                  <span ng-class="value ? 'text-success' : 'text-danger'">
                    {{ null == value ? "failed" : value ? "online" : "offline" }}
                    <i class="glyphicon" ng-class="value ? 'glyphicon-ok' : 'glyphicon-remove'"></i>
                  </span>
                </li>
              </ul>
              <div
                class="input-group text-danger"
                ng-if="
                  !model.hostStatus['DICOM In'] ||
                  !model.hostStatus['DICOM Apex'] ||
                  !model.hostStatus['QDR']
                "
              >
                <h4>Please Note:</h4>
                <div class="container-fluid">
                  Before images can be sent to the selected Apex workstation,
                  DICOM In, DICOM Apex and QDR must all be online.<br />
                  Please check the Apex workstation and try again once all software is running.
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="input-group">
            <div class="form-group first-form-group" ng-if="null != model.currentImage">
              <label for="hostId" class="control-label col-sm-3">Reanalysis Image</label>
              <div class="col-sm-9">
                <input ng-model="model.currentImage.name" class="form-control" readonly></input>
                <span ng-class="model.currentImage.uploaded ? 'text-success' : 'text-danger'">
                  {{ model.currentImage.status }}
                  <i
                    class="glyphicon"
                    ng-if="null != model.currentImage.uploaded"
                    ng-class="model.currentImage.uploaded ? 'glyphicon-ok' : 'glyphicon-remove'"
                  ></i>
                </span>
              </div>
            </div>
            <div class="form-group" ng-if="null != model.baseImage">
              <label for="hostId" class="control-label col-sm-3">Base Paired Image</label>
              <div class="col-sm-9">
                <input ng-model="model.baseImage.name" class="form-control" readonly></input>
                <span ng-class="model.baseImage.uploaded ? 'text-success' : 'text-danger'">
                  {{ model.currentImage.status }}
                  <i
                    class="glyphicon"
                    ng-if="null != model.baseImage.uploaded"
                    ng-class="model.baseImage.uploaded ? 'glyphicon-ok' : 'glyphicon-remove'"
                  ></i>
                </span>
              </div>
            </div>
            <div class="text-right">
              <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-click="model.deleteImages()">
                  <span ng-if="model.deletingImages">
                    Deleting Images...
                  </span>
                  <span ng-if="!model.deletingImages">
                    <i class="glyphicon glyphicon-cloud-upload"></i>
                   Delete all Images
                  </span>
                </button>
                <button type="button" class="btn btn-primary" ng-click="model.uploadImages()">
                  <span ng-if="model.uploadingImages">
                    Uploading Image{{ null == model.baseImage ? "" : "s" }}...
                  </span>
                  <span ng-if="!model.uploadingImages">
                    <i class="glyphicon glyphicon-cloud-upload"></i>
                    Upload Image{{ null == model.baseImage ? "" : "s" }}
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-footer text-right rounded-buttom bg-info">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" ng-click="viewParent()">View Apex Review</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
