<div class="record-view rounded">
  <div class="container-fluid bg-primary rounded-top">
    <h4>
      Apex Workstation Image Upload for {{ model.parentModel.viewModel.record.uid }}
      <span ng-if="model.isLoading">(Loading&hellip;)</span>
    </h4>
  </div>
  <form name="form" class="form-horizontal" novalidate>
    <fieldset ng-disabled="model.isLoading || model.uploadingImages">
      <div class="form-body" style="padding-bottom: 1em;">
        <div class="container-fluid" ng-if="!model.parentModel.viewModel.record.apex_host_id">
          There is no Apex workstation associated with the reviewer.
        </div>
        <div class="container-fluid" ng-if="model.parentModel.viewModel.record.apex_host_id">
          <div class="input-group">
            <div class="form-group first-form-group" ng-if="null != model.currentImage">
              <label for="hostId" class="control-label col-sm-3">Re-Analysis Image</label>
              <div class="col-sm-9">
                <input ng-model="model.currentImage.name" class="form-control" readonly></input>
                <span ng-class="model.currentImage.uploaded ? 'text-success' : 'text-danger'">
                  {{ model.currentImage.status }}
                  <i
                    class="glyphicon"
                    ng-class="{ 'glyphicon-ok': model.currentImage.uploaded, 'glyphicon-remove': null != model.currentImage.error }"
                  ></i>
                </span>
              </div>
            </div>
            <div class="form-group" ng-if="null != model.baseImage">
              <label for="hostId" class="control-label col-sm-3">Base Paired Image</label>
              <div class="col-sm-9">
                <input ng-model="model.baseImage.name" class="form-control" readonly></input>
                <span ng-class="model.baseImage.uploaded ? 'text-success' : 'text-danger'">
                  {{ model.baseImage.status }}
                  <i
                    class="glyphicon"
                    ng-class="{ 'glyphicon-ok': model.baseImage.uploaded, 'glyphicon-remove': null != model.baseImage.error }"
                  ></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-footer text-right rounded-buttom bg-info">
        <div class="pull-left">
          <div class="btn-group" ng-if="model.parentModel.viewModel.record.apex_host_id">
            <button type="button" class="btn btn-default" ng-click="model.checkApexHostStatus()">
              Check Apex Status
            </button>
            <button type="button" class="btn btn-default" ng-click="model.uploadImages()">
              <span ng-if="model.uploadingImages">
                Uploading Image{{ null == model.baseImage ? "" : "s" }}...
              </span>
              <span ng-if="!model.uploadingImages">
                Upload Image{{ null == model.baseImage ? "" : "s" }}
              </span>
            </button>
          </div>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" ng-click="viewParent()">View Apex Review</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
