<div class="record-view rounded">
  <div class="container-fluid bg-primary rounded-top">
    <h4>
      <div class="pull-right">
        <i
          class="glyphicon glyphicon-chevron-left glyph-hover btn-header"
          ng-class="{ 'btn-primary': model.prevImageEnabled() }"
          ng-style="{'color': model.prevImageEnabled() ? '#fff' : '#aaa' }"
          ng-disabled="!model.prevImageEnabled()"
          ng-click="model.prevImage()"
        ></i>
        <i
          class="glyphicon glyphicon-chevron-right glyph-hover btn-header"
          ng-class="{ 'btn-primary': model.nextImageEnabled() }"
          ng-style="{'color': model.nextImageEnabled() ? '#fff' : '#aaa' }"
          ng-disabled="!model.nextImageEnabled()"
          ng-click="model.nextImage()"
        ></i>
      </div>
      {{ model.currentImage.filename }}&nbsp;
    </h4>
  </div>
  <div style="height: 85vh; padding-left: 0">
    <canvas id="canvas" class="image" style="height:100%; width:100%;"></canvas>
  </div>
</div>
