<div class="rounded">
  <div class="container-fluid bg-primary rounded-top">
    <h4>
      Image Rating
      <span ng-if="!model.getEditEnabled()">(read only)</span>
      <span ng-if="ratingModel.isLoading">(Loading&hellip;)</span>
    </h4>
  </div>
  <form name="form" class="form-horizontal" novalidate>
    <div class="form-body">
      <div class="form-group">
        <label for="autoRating" class="control-label col-sm-3">Automatic Rating</label>
        <div class="row col-sm-9">
          <div class="input-group" style="margin-top: 7px;">
            <div class="col-sm-1" ng-bind-html="model.viewModel.record.calculated_rating"></div>
            <div class="col-sm-11">
              <cn-slider
                id="autoRating"
                disabled="true"
                ng-model="model.viewModel.record.calculated_rating"
                floor=1
                ceiling=5
              ></cn-slider>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="rating" class="control-label col-sm-3">Manual Rating</label>
        <div class="row col-sm-9">
          <div class="input-group" style="margin-top: 7px;">
            <div class="col-sm-1" ng-bind-html="model.viewModel.record.manual_rating"></div>
            <div class="col-sm-11">
              <cn-slider
                id="rating"
                on-blur="ratingModel.onRatingBlur()"
                ng-model="model.viewModel.record.manual_rating"
                floor=1
                ceiling=5
              ></cn-slider>
            </div>
          </div>
        </div>
      </div>
      <div ng-repeat="group in ratingModel.codeGroupList">
        <div class="container-fluid bg-info" uib-tooltip-html="group.description">
          <label class="control-label" ng-bind-html="group.name"></label>
        </div>
        <div class="container-fluid vertical-spacer" style="padding: 0;">
          <div
            style="
              position: relative;
              min-height: 1px;
              padding-right: 5px;
              padding-left: 5px;
              float: left;
              width: 20%;
            "
            ng-repeat="code in group.code_list"
          >
            <button
              class="btn full-width"
              ng-class="code.selected ? 'btn-success' : 'btn-default'"
              ng-click="ratingModel.toggleCode(code)"
              ng-disabled="code.working"
              uib-tooltip-html="code.description"
            >{{ code.name }}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-footer text-right rounded-bottom bg-info">
    </div>
  </form>
</div>
